﻿@using Fintech.Entity;
@{
    ViewBag.Title = "Index";
    var account = ViewBag.Account as Accounts;
    var balance = ViewBag.Balance as Balances;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Home
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" content ng-controller="ctrl">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <h3>Welcometo Fintech Application, @account.FirstName</h3>
            <h3 style="color: dodgerblue">Your active balance is RP. @balance.Balance.ToString("#,###.00")</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4 style="font-weight: 500">Pending TopUp</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td></td>
                                <td>TopUP Date</td>
                                <td>Bank ID</td>
                                <td>Bank Name</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in topups">
                                <td>
                                    <a ng-click="processTopup(p)" style="font-size: 1.2em; color: red"><i class="fa fa-hourglass"></i></a>
                                </td>
                                <td ng-bind="p.TopupID"></td>
                                <td ng-bind="p.BankID">100</td>
                                <td ng-bind="p.BankName">BCA</td>
                                <td ng-bind="p.Amount" class="text-right">15.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h4 style="font-weight: 500">Pending Transactions</h4>
                    <table class="table  table-bordered">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Transaction ID</td>
                                <td>Transaction Date</td>
                                <td>Merchant</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in txns">
                                <td>
                                    <a ng-click="processTxn(t)" style="font-size: 1.2em; color: red"><i class="fa fa-hourglass"></i></a>
                                </td>
                                <td ng-bind="t.TransactionID"></td>
                                <td ng-bind="t.MerchantID">2019-Jun-12</td>
                                <td ng-bind="t.MerchantName">Cafe Tunggu</td>
                                <td ng-bind="t.Amount" class="text-right">15.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->


    <div id="topup-detail" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="box box-success">
                    <div class="box-header with-border">Topup Detail</div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4 control-label">Topup ID</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.TopupID" type="text" name="TopupID" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Topup Date</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.TopupDate" type="text" name="TopupDate" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Account ID</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.AccountID" type="text" name="AccountID" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Bank ID</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.BankID" type="text" name="BankID" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Bank Name</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.BankName" type="text" name="BankName" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Amount</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.Amount" type="text" name="Amount" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Reference Number</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.ReferenceNumber" type="text" name="ReferenceNumber" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Txn Number</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.TxnNumber" type="text" name="TxnNumber" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Status</div>
                                <div class="col-md-6">
                                    <input ng-model="topup.Status" type="text" name="Status" class="form-control" disabled />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Close</button>
                        <button ng-click="rejectTopup()" type="button" class="btn btn-danger"><i class="fa fa-remove"></i> Rejected</button>
                        <button ng-click="acceptTopup()" type="button" class="btn btn-success"><i class="fa fa-check"></i> Accepted</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="txn-detail" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="box box-success">
                    <div class="box-header with-border">Transaction Detail</div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4 control-label">Transaction ID</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.TransactionID" type="text" name="TransactionID" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Transaction  Date</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.TransactionDate" type="text" name="TransactionDate" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Account ID</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.AccountID" type="text" name="AccountID" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Merchant ID</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.MerchantID" type="text" name="MerchantID" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Merchant Name</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.MerchantName" type="text" name="MerchantName" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Amount</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.Amount" type="text" name="Amount" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Title</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.Title" type="text" name="Title" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Reference No</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.ReferencesNo" type="text" name="ReferencesNo" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Remarks</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.Remarks" type="text" name="Remarks" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Status</div>
                                <div class="col-md-6">
                                    <input ng-model="txn.Status" type="text" name="Status" class="form-control" disabled />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Close</button>
                        <button ng-click="rejectTxn()" type="button" class="btn btn-danger"><i class="fa fa-remove"></i> Rejected</button>
                        <button  ng-click="acceptTxn()" type="button" class="btn btn-success"><i class="fa fa-check"></i> Accepted</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@section scripts{
    <script>
        (function () {

            angular.module("fintech-app").controller("ctrl", controller);

            function controller($scope, $http) {
                var scope = $scope;
                var http = $http;

                scope.topups = [];
                scope.txns = [];
                scope.topup = {};
                scope.txn = {};
                loadTopup();
                loadTxn();

                function loadTopup() {
                    http({
                        url: '/Default/PendingTopup',
                        method: 'POST',
                        data: {
                            page: { page: 1, pageSize: 100, criteria: [], order: 'TopupID ASC' }
                        }
                    }).then(function (res) { return res.data; }).then(function (res) { scope.topups = res.data.Rows; });
                }

                function loadTxn() {
                    http({
                        url: '/Default/PendingTxn',
                        method: 'POST',
                        data: {
                            page: { page: 1, pageSize: 100, criteria: [], order: 'TransactionID ASC' }
                        }
                    }).then(function (res) { return res.data; }).then(function (res) { scope.txns = res.data.Rows; });
                }

                
                

                scope.processTopup = function processTopup(obj) {
                    scope.topup = obj;
                    $("#topup-detail").modal({ backdrop: 'static' });
                    console.log(obj);
                }

                scope.processTxn = function processTxn(obj) {
                    scope.txn = obj;
                    $("#txn-detail").modal({ backdrop: 'static' });
                    console.log(obj);
                }

                scope.acceptTopup = function () {
                    var opt = {
                        url: '/Topup/Accepted', method: 'POST', data: { id: scope.topup.TopupID }
                    };
                    http(opt).then(function (res) { return res.data; })
                        .then(function (res) {
                            if (res.meta.success) {
                                Swal.fire('Success', 'Accept Topup Success', 'success').then(function (r) {
                                    location.reload(); 
                                })
                            } else {
                                Swal.fire('Error', res.meta.message, 'error')
                            }
                        });
                }

                scope.rejectTopup = function () {
                    var opt = {
                        url: '/Topup/Rejected', method: 'POST', data: { id: scope.topup.TopupID }
                    };
                    http(opt).then(function (res) { return res.data; })
                        .then(function (res) {
                            if (res.meta.success) {
                                Swal.fire('Success', 'Reject Topup Success', 'success').then(function (r) {
                                    location.reload();
                                })
                            } else {
                                Swal.fire('Error', res.meta.message, 'error')
                            }
                        });
                }

                scope.acceptTxn = function () {
                    var opt = {
                        url: '/Transaction/Accepted', method: 'POST', data: { id: scope.txn.TransactionID }
                    };
                    http(opt).then(function (res) { return res.data; })
                        .then(function (res) {
                            if (res.meta.success) {
                                Swal.fire('Success', 'Accept Transaction Success', 'success').then(function (r) {
                                    location.reload();
                                })
                            } else {
                                Swal.fire('Error', res.meta.message, 'error')
                            }
                        });
                }

                scope.rejectTxn = function () {
                    var opt = {
                        url: '/Transaction/Rejected', method: 'POST', data: { id: scope.txn.TransactionID }
                    };
                    http(opt).then(function (res) { return res.data; })
                        .then(function (res) {
                            if (res.meta.success) {
                                Swal.fire('Success', 'Reject Transaction Success', 'success').then(function (r) {
                                    location.reload();
                                })
                            } else {
                                Swal.fire('Error', res.meta.message, 'error')
                            }
                        });
                }
            }

            setTimeout(function () { $("[content]").css("opacity", 1); }, 100);
            $("[dashboard]").addClass("active"); 
        }());
    </script>
}