﻿
@{
    ViewBag.Title = "Index";
    var accountID = Fintech.Common.Commons.GetUserID();
}
@Html.AntiForgeryToken()
<section class="content-header">
    <h1>
        Fintech Topups Bank
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Topups</li>
    </ol>
</section>
<section class="content" ng-controller="ctrl" content>
    <!-- Default box -->
    <div class="box box-success">
        <div id="data-list">
            <div class="box-header with-border">
                <h3 class="box-title">Topups List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="grid-view"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-right">                
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

        <div id="data-detail" style="display: none">
            <form name="form1">
                <div class="box-header with-border">
                    <h3 class="box-title">Topup Detail</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 control-label">Topup ID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.TopupID" type="text" name="TopupID" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">TopupDate</div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input ng-model="entity.TopupDate" editable type="text" name="TopupDate" class="form-control" required maxlength="50">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">AccountID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.AccountID" type="text" name="AccountID" class="form-control" required maxlength="50" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Bank ID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.BankID" type="text" disabled name="BankID" class="form-control" required maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Amount</div>
                            <div class="col-md-3">
                                <input ng-model="entity.Amount" type="text" editable name="Amount" class="form-control" placeholder="0" required number min="1000">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Reference Number</div>
                            <div class="col-md-5">
                                <input ng-model="entity.ReferenceNumber" editable type="text" name="ReferenceNumber" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Txn Number</div>
                            <div class="col-md-5">
                                <input ng-model="entity.TxnNumber" editable type="text" name="TxnNumber" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Status</div>
                            <div class="col-md-3">
                                <select ng-model="entity.Status" name="Status" class="form-control" disabled>
                                    <option value="PENDING">PENDING</option>
                                    <option value="ACCEPTED">ACCEPTED</option>
                                    <option value="REJECTED">REJECTED</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Created Date</div>
                            <div class="col-md-3">
                                <input ng-model="entity.CreatedDate" type="text" name="CreatedDate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Process Date</div>
                            <div class="col-md-3">
                                <input ng-model="entity.ProcessDate" type="text" name="ProcessDate" class="form-control" disabled>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-footer text-center">
                    <button id="btn-back" ng-click="showList()" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>                    
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        (function () {
            function Entity() {
                return {
                    TopupID: 0,
                    TopupDate: formatDate(),
                    AccountID: '@accountID',
                    BankID: '',
                    Amount: '',
                    ReferenceNumber: '',
                    TxnNumber: '',
                    Status: '',
                    CreatedDate: '',
                    ProcessDate: ''
                }
            }
            function controller($scope, $http) {
                var scope = $scope;
                var http = $http;

                var grid = gridview('grid-view', {
                    url: "/Topup/PagingBank",
                    columns: [
                        {
                            text: "", render: function (c) {
                                var tmpl = "<a action='view'><i class='fa fa-search'></i></a>"; 
                                return tmpl;
                            }
                        },
                        { field: 'TopupID', text: 'Topup ID', sortable: true },
                        { field: 'TopupDate', text: 'Topup Date', sortable: true },
                        { field: 'AccountID', text: 'Account ID', sortable: true },
                        { field: 'BankID', text: 'Bank ID', sortable: true },
                        { field: 'Amount', text: 'Amount', sortable: true, type: 'number' },
                        { field: 'Status', text: 'Status', sortable: true },
                    ],
                    fieldKey: "TopupID",
                    view: view
                });

                function view(obj) {
                    state = 'view';
                    scope.entity = obj;
                    scope.$apply();
                    $("[editable]").attr("disabled", true);
                    $(".input-group-addon").css('background', '#eee');
                    $("#btn-save").hide();
                    scope.showDetail()
                }
                
                scope.showList = function () { $("#data-detail").fadeOut(300, function () { $("#data-list").fadeIn(500); }); }
                scope.showDetail = function () {
                    $("#data-list").fadeOut(300, function () { $("#data-detail").fadeIn(500); });
                    $("[ng-model]").siblings("span").remove();
                }
                

            }

            angular.module("fintech-app").controller("ctrl", controller);

            setTimeout(function () { $("[content]").css("opacity", 1); }, 100);
            $("[topup]").addClass("active");
            $("[top-bank]").addClass("active").parent().addClass("menu-open");
        }())
    </script>
}



