﻿
@{
    ViewBag.Title = "Index";
    var merchantID = ViewBag.MerchantID.ToString();
}
<section class="content-header">
    <h1>
        Fintech Transactions Merchant
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Transaction</li>
    </ol>
</section>
<section class="content" ng-controller="ctrl" content>
    <!-- Default box -->
    <div class="box box-success">
        <div id="data-list">
            <div class="box-header with-border">
                <h3 class="box-title">Transaction List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="grid-view"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-right">
                <button ng-show="@merchantID > 0" id="btn-add" ng-click="addNew()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</button>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

        <div id="data-detail" style="display: none">
            <form name="form1">
                <div class="box-header with-border">
                    <h3 class="box-title">Topup Detail</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 control-label">Transaction ID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.TransactionID" type="text" name="TopupID" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Transaction Date</div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input date-picker ng-model="entity.TransactionDate" editable type="text" name="TransactionDate" class="form-control" required maxlength="50">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">AccountID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.AccountID" type="text" editable name="AccountID" class="form-control" required maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Merchant ID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.MerchantID" type="text" name="MerchantID" class="form-control" disabled required maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Title</div>
                            <div class="col-md-5">
                                <input ng-model="entity.Title" editable type="text" name="Title" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Amount</div>
                            <div class="col-md-3">
                                <input ng-model="entity.Amount" type="text" editable name="Amount" class="form-control" required number min="1000">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">References No</div>
                            <div class="col-md-5">
                                <input ng-model="entity.ReferencesNo" editable type="text" name="ReferencesNo" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Remarks</div>
                            <div class="col-md-5">
                                <input ng-model="entity.Remarks" editable type="text" name="Remarks" class="form-control" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Status</div>
                            <div class="col-md-3">
                                <select ng-model="entity.Status" name="Status" class="form-control" disabled>
                                    <option value="PENDING">PENDING</option>
                                    <option value="ACCEPTED">ACCEPTED</option>
                                    <option value="REJECTED">REJECTED</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Created Date</div>
                            <div class="col-md-3">
                                <input ng-model="entity.CreatedDate" type="text" name="CreatedDate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Process Date</div>
                            <div class="col-md-3">
                                <input ng-model="entity.ProcessDate" type="text" name="ProcessDate" class="form-control" disabled>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-footer text-center">
                    <button id="btn-back" ng-click="showList()" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>
                    <button id="btn-save" ng-click="save()" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        (function () {

            setTimeout(function () { $("[div-content]").css("opacity", 1) }, 100);

            function Entity() {
                return {
                    TransactionID: 0,
                    AccountID: '',
                    MerchantID: @merchantID,
                    TransactionDate: formatDate(),
                    Title: '',
                    Amount: 0,
                    ReferencesNo: '',
                    Remarks: '',
                    Status: 'PENDING',
                    CreatedDate: new Date().toJSON(),
                    ProcessDate: ''
                }
            }
            function controller($scope, $http) {
                var scope = $scope;
                var http = $http;

                var grid = gridview('grid-view', {
                    url: "/Transaction/Paging",
                    columns: [
                        {
                            text: "", render: function (c) {
                                var tmpl = "<a action='view'><i class='fa fa-search'></i></a>";
                                tmpl += "<a action='edit'><i class='fa fa-edit'></i></a>";
                                tmpl += "<a action='remove'><i class='fa fa-trash'></i></a>";
                                return tmpl;
                            }
                        },
                        { field: 'TransactionID', text: 'Transaction ID', sortable: true },
                        { field: 'TransactionDate', text: 'Transaction Date', sortable: true },
                        { field: 'AccountID', text: 'Account ID', sortable: true },
                        { field: 'MerchantID', text: 'Merchant ID', sortable: true },
                        { field: 'Title', text: 'Title', sortable: true },
                        { field: 'Amount', text: 'Amount', sortable: true, type: 'number' },
                        { field: 'Remarks', text: 'Remarks', sortable: true },
                        { field: 'Status', text: 'Status', sortable: true },
                    ],
                    fieldKey: "TransactionID",
                    view: view,
                    edit: edit,
                    remove: remove
                });

                function view(obj) {
                    state = 'view';
                    scope.entity = obj;
                    scope.$apply();
                    $("[editable]").attr("disabled", true);
                    $(".input-group-addon").css('background', '#eee');
                    $("#btn-save").hide();
                    scope.showDetail()
                }
                function edit(obj) {
                    state = 'Update';
                    scope.entity = obj;
                    scope.$apply();
                    $("[editable]").attr("disabled", false);
                    $(".input-group-addon").css('background', '#fff');
                    $("#btn-save").show();
                    scope.showDetail()
                }
                function remove(obj) {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Are you sure?',
                        type: 'warning',
                        confirmButtonText: 'YES',
                        confirmButtonColor: 'red',
                        showCancelButton: true,
                        cancelButtonText: 'NO'
                    }).then(function (res) {
                        if (res.value) {
                            http({
                                url: '/Transaction/Delete',
                                method: 'POST',
                                data: { id: obj.TopupID }
                            }).then(success1)
                                .then(function (res) {
                                    if (res.meta.success) {
                                        Swal.fire("Success", "Delete data success", "success").then(function () { grid.reload() });
                                    } else {
                                        Swal.fire("Error", res.meta.message, "error");
                                    }
                                })
                        }
                    });
                }
                function success1(res) { return res.data; }

                scope.addNew = function () {
                    state = 'Insert';
                    scope.entity = new Entity();
                    $("[name='TransactionDate']").datepicker('update', formatDate());
                    $("[editable]").attr("disabled", false);
                    $(".input-group-addon").css('background', '#fff');
                    $("#btn-save").show();
                    scope.showDetail()
                }
                var state = '';
                scope.entity = new Entity();
                scope.showList = function () { $("#data-detail").fadeOut(300, function () { $("#data-list").fadeIn(500); }); }
                scope.showDetail = function () {
                    $("#data-list").fadeOut(300, function () { $("#data-detail").fadeIn(500); });
                    $("[ng-model]").siblings("span").remove();
                }
                scope.save = function () {
                    if (form1.checkValidity()) {

                        http({
                            url: '/Transaction/' + state,
                            method: 'POST',
                            data: { 'transaction': scope.entity }
                        }).then(success1)
                            .then(function (res) {
                                if (res.meta.success) {
                                    Swal.fire("Success", "Save data success", "success").then(function () { scope.showList(); grid.reload() });
                                } else {
                                    Swal.fire("Error", res.meta.message, "error");
                                }
                            });
                    }
                }
                $("[date-picker]").datepicker({ autoclose: true, format: "yyyy-M-dd" })
                    .on("changeDate", function (e) {
                        scope.entity[e.target.name] = e.target.value;
                    });
            }

            angular.module("fintech-app").controller("ctrl", controller);
            $("[ng-model]").change(function (e) {
                var span = e.target.parentElement.querySelector("span");
                if (span) $(span).remove();
                if (!e.target.checkValidity()) {
                    span = document.createElement("span");
                    span.style.color = 'red';
                    span.textContent = e.target.validationMessage;
                    e.target.parentElement.appendChild(span);
                }

                $("#btn-save").attr("disabled", !form1.checkValidity());
            });

            setTimeout(function () { $("[content]").css("opacity", 1); }, 100);
            $("[transactions]").addClass("active");
            $("[txn-merchant]").addClass("active").parent().addClass("menu-open");
        }())
    </script>
}



