﻿@model Fintech.Entity.Banks

<div class="box box-success">
    @using (Ajax.BeginForm("Update", "Bank", new AjaxOptions { HttpMethod="POST", OnSuccess="UpdateSuccess"}))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Bank Detail </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            Bank ID
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(md => md.BankID, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">Bank Name</div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(md => md.BankName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">Head Office</div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(md => md.HeadOffice, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">Contact Name</div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(md => md.ContactName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">Contact Phone</div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(md => md.ContactPhone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">Contact Email</div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(md => md.ContactEmail, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">Account ID</div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(md => md.AccountID, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
           
        </div>
        <div class="box-footer text-center">
            <button type="button" onclick = "backToList()" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
        </div>
    }
</div>
