﻿@model Fintech.Entity.Banks

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Intro  Banks Razor
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Banks</li>
    </ol>
</section>
<section class="content">
    <!-- Default box -->
    <div class="box box-success">
        @using (Html.BeginForm("Update", "Bank", FormMethod.Post))
        {
            <div class="box-header with-border">
                <h3 class="box-title">Bank Detail </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form name="form1" #form1>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 control-label">
                                Bank ID
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(md => md.BankID, new { @class="form-control", disabled=true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Bank Name</div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(md => md.BankName, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Head Office</div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(md => md.HeadOffice, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Contact Name</div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(md => md.ContactName, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Contact Phone</div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(md => md.ContactPhone, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Contact Email</div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(md => md.ContactEmail, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Account ID</div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(md => md.AccountID, new { @class = "form-control", disabled = true })
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="box-footer text-center">
                @Html.ActionLink("Back", "IntroRazor", "Bank", new { @class="btn btn-default"})
            </div>
        }
    </div>
</section>