﻿
@{
    ViewBag.Title = "IntroAngularJs";
}
<section class="content-header">
    <h1>
        Fintech Banks
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Banks</li>
    </ol>
</section>
<section class="content" content ng-controller="ctrl">
    <!-- Default box -->
    <div class="box box-success">
        <div id="data-list">
            <div class="box-header with-border">
                <h3 class="box-title">Bank List </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="grid-bank"></div>
            </div>
        </div>

        <div id="data-detail" class="d-none">
            <div class="box-header with-border">
                <h3 class="box-title">Bank Detail </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form name="form1" #form1>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 control-label">Bank ID</div>
                            <div class="col-md-6">
                                <input ng-model="bank.BankID" type="text" name="BankID" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Bank Name</div>
                            <div class="col-md-6">
                                <input ng-disabled="disable" ng-model="bank.BankName" type="text" name="BankName" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Head Office</div>
                            <div class="col-md-6">
                                <input ng-disabled="disable" ng-model="bank.HeadOffice" type="text" name="HeadOffice" class="form-control" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Contact Name</div>
                            <div class="col-md-6">
                                <input ng-disabled="disable" ng-model="bank.ContactName" type="text" name="ContactName" class="form-control" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Contact Phone</div>
                            <div class="col-md-6">
                                <input ng-disabled="disable" ng-model="bank.ContactPhone" type="text" name="ContactPhone" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Contact Email</div>
                            <div class="col-md-6">
                                <input ng-disabled="disable" ng-model="bank.ContactEmail" type="text" name="ContactEmail" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Account ID</div>
                            <div class="col-md-6">
                                <input ng-disabled="disable" ng-model="bank.AccountID" type="text" name="AccountID" class="form-control" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label">Account List</div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Account ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Account Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in accounts">
                                            <td><a ng-click="remove($index)"><i class="fa fa-trash"></i></a></td>
                                            <td>{{a.AccountID}}</td>
                                            <td>{{a.FirstName}}</td>
                                            <td>{{a.LastName}}</td>
                                            <td>{{a.AccountType}}</td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 text-center">
                                <button ng-click="back()" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>
                                <button ng-show="!disable" ng-disabled="form1.$invalid" ng-click="save()" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                <button  ng-click="addAccount()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        (function () { 
            angular.module("fintech-app").controller("ctrl", controller);

            function controller($scope, $http) {
                var grid = gridview('grid-bank', {
                    url: '/Bank/Paging',
                    columns: [
                        {
                            text: '', render: function () {
                                return '<a action="view"><i class="fa fa-search"></i></a><a action="edit"><i class="fa fa-edit"></i></a>';
                            }
                        },
                        { field: 'BankID', text: 'Bank ID', sortable: true },
                        { field: 'BankName', text: 'Bank Name', sortable: true },
                        { field: 'HeadOffice', text: 'Head Office', sortable: true },
                        { field: 'ContactName', text: 'Contact Name', sortable: true },
                        { field: 'ContactPhone', text: 'Contact Phone', sortable: true },
                    ],
                    fieldKey: 'BankID',
                    view: view,
                    edit: edit
                });
                $scope.disable = false;
                $scope.bank = {};
                $scope.accounts = []; 

                $scope.save = function () {
                    console.log($scope.bank);
                }

                $scope.back = function () {
                    showList();
                }

                $scope.addAccount = function () {
                    //$scope.accounts.push({ accountID: 10003, accountName: 'Nanda', accountType: 'Customer' });
                    $http({
                        url: '/Account/Paging',
                        method: 'POST',
                        data: {
                            page: { page: 1, pageSize: 10, criteria: [], order: 'AccountID ASC' }
                        }
                    }).then(function (res) { return res.data; })
                        .then(function (res) { $scope.accounts = res.data.Rows; });
                }

                $scope.remove = function (i) {
                    $scope.accounts.splice(i, 1);
                }

                function view(obj) {
                    $scope.bank = obj;
                    $scope.disable = true;
                    $scope.$apply();
                    showDetail();
                    console.log(obj);
                }

                function edit(obj) {
                    $scope.bank = obj;
                    $scope.disable = false;
                    $scope.$apply();
                    showDetail();
                    console.log(obj);
                }

                function showDetail() {
                    $("#data-list").fadeOut(300, function () { $("#data-detail").fadeIn(500) });
                }

                function showList() {
                    $("#data-detail").fadeOut(300, function () { $("#data-list").fadeIn(500) });
                }

            }

            setTimeout(function () { $("[content]").css("opacity", 1) }, 100);
        }())

    </script>
}
