﻿@using Fintech.Entity    
@model List<Banks>
@{
    ViewBag.Title = "IntroRazor";
    List<Banks> list = ViewBag.ListData as List<Banks>;
}

<section class="content-header">
    <h1>
        Intro  Banks Razor
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Banks</li>
    </ol>
</section>
<section class="content">
    <!-- Default box -->
    <div class="box box-success">
        <div id="data-list">
            <div class="box-header with-border">
                <h3 class="box-title">Bank List </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body"> 
                <div id="grid-bank" style="overflow-x: scroll">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Bank ID</td>
                                <td>Bank Name</td>
                                <td>Head Office</td>
                                <td>Contact Name</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var b in Model)
                            {
                            <tr>
                                <td>
                                    @Ajax.ActionLink("Detail Ajax", "DetailAjax", "Bank", new { id=b.BankID }, new AjaxOptions { HttpMethod="POST", OnSuccess="AjaxSucces" })
                                    @Html.ActionLink("View", "Detail", "Bank", new { id = b.BankID }, new { })
                                    @Html.ActionLink("Edit", "Edit", "Bank", new { id=b.BankID }, new { @class="text-success" })
                                    @Html.ActionLink("Delete", "Delete", "Bank", new { id = b.BankID }, new { @class = "text-danger" })
                                </td>
                                <td>@b.BankID</td>
                                <td>@b.BankName</td>
                                <td>@b.HeadOffice</td>
                                <td>@b.ContactName</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button onclick="selectAccount()" type="button" class="btn btn-primary"><i class="fa fa-user"></i> Select Account</button>
            </div>
        </div> 

        <div id="data-detail" class="d-none"></div>

        <div id="lookup-account" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Select Account
                        <span class="close" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="box-body">
                        <div id="grid-account"></div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var grid = gridview('grid-account', {
            url: '/Account/paging',
            columns: [
                { text: '', render: function (obj) { return '<a action="select"><i class="fa fa-check"></i></a>'; } },
                { field: 'AccountType', text: 'AccountType', sortable: true },
                { field: 'AccountID', text: 'Account ID', sortable: true },
                { field: 'FirstName', text: 'First Name', sortable: true },
                { field: 'LastName', text: 'Last Name', sortable: true }
            ],
            fieldKey: 'AccountID',
            select: function (obj) {
                console.log(obj);
                $("#lookup-account").modal('hide');
            }
        });

        function selectAccount() {
            $("#lookup-account").modal({ backdrop: 'static' });
        }

        function AjaxSucces(res) {
            $("#data-list").fadeOut(300, function () { $("#data-detail").html(res).fadeIn(300); });
            
            console.log(res);
        }

        function backToList() {
            $("#data-detail").fadeOut(300, function () { $("#data-list").fadeIn(300); });
        }

        function UpdateSuccess(res) {
            if (res.meta.success) {
                Swal.fire("Success", "Save data success!", "success").then(function (r) { location.reload() });
            } else {
                Swal.fire("Error", res.meta.message, "error")
            }
        }
    </script>
    }