﻿
@{
    ViewBag.Title = "Index";
}
@Html.AntiForgeryToken()
<section class="content-header">
    <h1>
        Fintech Merchants
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Merchants</li>
    </ol>
</section>
<section class="content" ng-controller="ctrl" content>
    <!-- Default box -->
    <div class="box box-success">
        <div id="data-list">
            <div class="box-header with-border">
                <h3 class="box-title">Merchant List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="gridview"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-right">
                <button id="btn-add" ng-click="addNew()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</button>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

        <div id="data-detail" style="display: none">
            <form name="form1">
                <div class="box-header with-border">
                    <h3 class="box-title">Merchant Detail</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 control-label">Merchant ID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.MerchantID" type="text" name="MerchantID" class="form-control" disabled>
                            </div>
                            <div class="col-md-2 control-label">City</div>
                            <div class="col-md-3">
                                <input ng-model="entity.City" type="text" name="City" class="form-control" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Merchant Name</div>
                            <div class="col-md-3">
                                <input ng-model="entity.MerchantName" type="text" name="MerchantName" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">Postal Code</div>
                            <div class="col-md-3">
                                <input ng-model="entity.PostalCode" type="text" name="PostalCode" class="form-control" required maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Description</div>
                            <div class="col-md-3">
                                <input ng-model="entity.Description" type="text" name="Description" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">Email</div>
                            <div class="col-md-3">
                                <input ng-model="entity.Email" type="text" name="Email" class="form-control" required maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Contact Name</div>
                            <div class="col-md-3">
                                <input ng-model="entity.ContactName" type="text" name="ContactName" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">Phone</div>
                            <div class="col-md-3">
                                <input ng-model="entity.Phone" type="text" name="Phone" class="form-control" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Address</div>
                            <div class="col-md-3">
                                <input ng-model="entity.Address" type="text" name="Address" class="form-control" maxlength="30">
                            </div>
                            <div class="col-md-2 control-label">Account ID</div>
                            <div class="col-md-3">
                                <input ng-model="entity.AccountID" type="text" name="AccountID" class="form-control" maxlength="30">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-footer text-center">
                    <button id="btn-back" ng-click="showList()" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>
                    <button id="btn-save" ng-click="save()" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        (function () {
            function Entity() {
                return {
                    MerchantID: 0,
                    MerchantName: '',
                    Description: '',
                    ContactName: '',
                    Address: '',
                    City: '',
                    PostalCode: '',
                    Email: '',
                    Phone: '',
                    AccountID: 0
                }
            }
            function controller($scope, $http) {
                var scope = $scope;
                var http = $http;

                var grid = gridview('gridview', {
                    url: "/Merchant/Paging",
                    columns: [
                        {
                            text: "", render: function (c) {
                                var tmpl = "<a action='view'><i class='fa fa-search'></i></a>";
                                tmpl += "<a action='edit'><i class='fa fa-edit'></i></a>";
                                tmpl += "<a action='remove'><i class='fa fa-trash'></i></a>";
                                return tmpl;
                            }
                        },
                        { field: 'MerchantID', text: 'Merchant ID', sortable: true },
                        { field: 'MerchantName', text: 'Merchant Name', sortable: true },
                        { field: 'Description', text: 'Description', sortable: true },
                        { field: 'ContactName', text: 'Contact Name', sortable: true },
                        { field: 'Address', text: 'Address', sortable: true },
                        { field: 'City', text: 'City', sortable: true },
                        { field: 'AccountID', text: 'Account ID', sortable: true }
                    ],
                    fieldKey: "MerchantID",
                    view: view,
                    edit: edit,
                    remove: remove
                });

                function view(obj) {
                    state = 'view';
                    scope.entity = obj;
                    scope.$apply();
                    $("[ng-model]").attr("disabled", true);
                    $(".input-group-addon").css('background', '#eee');
                    $("#btn-save").hide();
                    scope.showDetail()
                }
                function edit(obj) {
                    state = 'Update';
                    scope.entity = obj;
                    scope.$apply();
                    $("[ng-model]").not("[name='MerchantID']")
                        .attr("disabled", false);
                    $("#btn-save").show();
                    scope.showDetail()
                }
                function remove(obj) {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Are you sure?',
                        type: 'warning',
                        confirmButtonText: 'YES',
                        confirmButtonColor: 'red',
                        showCancelButton: true,
                        cancelButtonText: 'NO'
                    }).then(function (res) {
                        if (res.value) {
                            http({
                                url: '/Merchant/Delete',
                                method: 'POST',
                                data: { id: obj.MerchantID }
                            }).then(success1)
                                .then(function (res) {
                                    if (res.meta.success) {
                                        Swal.fire("Success", "Delete data success", "success").then(function () { grid.reload() });
                                    } else {
                                        Swal.fire("Error", res.meta.message, "error");
                                    }
                                })
                        }
                    });
                }
                function success1(res) { return res.data; }

                scope.addNew = function () {
                    state = 'Insert';
                    scope.entity = new Entity();
                    $("[ng-model]").not("[name='MerchantID']")
                        .attr("disabled", false);
                    $("#btn-save").show();
                    scope.showDetail()
                }
                var state = '';
                scope.entity = new Entity();
                scope.showList = function () { $("#data-detail").fadeOut(300, function () { $("#data-list").fadeIn(500); }); }
                scope.showDetail = function () {
                    $("#data-list").fadeOut(300, function () { $("#data-detail").fadeIn(500); });
                    $("[ng-model]").siblings("span").remove();
                }
                scope.save = function () {
                    if (form1.checkValidity()) {
                        http({
                            url: '/Merchant/' + state,
                            method: 'POST',
                            data: { 'entity': scope.entity }
                        }).then(success1)
                            .then(function (res) {
                                if (res.meta.success) {
                                    Swal.fire("Success", "Save data success", "success").then(function () { scope.showList(); grid.reload() });
                                } else {
                                    Swal.fire("Error", res.meta.message, "error");
                                }
                            });
                    }
                }

            }

            angular.module("fintech-app").controller("ctrl", controller);
            $("[ng-model]").change(function (e) {
                var span = e.target.parentElement.querySelector("span");
                if (span) $(span).remove();
                if (!e.target.checkValidity()) {
                    span = document.createElement("span");
                    span.style.color = 'red';
                    span.textContent = e.target.validationMessage;
                    e.target.parentElement.appendChild(span);
                }
                $("#btn-save").attr("disabled", !form1.checkValidity());
            });
            setTimeout(function () { $("[content]").css("opacity", 1); }, 100);
            $("[merchants]").addClass("active");
        }())
    </script>
}

