﻿
@{
    ViewBag.Title = "Index";
}
@Html.AntiForgeryToken()
<section class="content-header">
    <h1>
        Fintech Accounts
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Accounts</li>
    </ol>
</section>
<section class="content" ng-controller="ctrl" content>
    <!-- Default box -->
    <div class="box box-success">
        <div id="data-list">
            <div class="box-header with-border">
                <h3 class="box-title">Account List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="grid-accounts"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-right">
                <button id="btn-add" ng-click="addNew()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</button>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

        <div id="data-detail" style="display: none">
            <form name="form1" #form1>
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-weight: 600">Account Detail</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 control-label">Account ID</div>
                            <div class="col-md-3">
                                <input ng-model="account.AccountID" type="text" name="AccountID" class="form-control" disabled>
                            </div>
                            <div class="col-md-2 control-label">
                                Status
                            </div>
                            <div class="col-md-3 checkbox">
                                <label>
                                    <input ng-model="account.Status" type="checkbox" name="Status"> Active
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">First Name</div>
                            <div class="col-md-3">
                                <input ng-model="account.FirstName" type="text" name="FirstName" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">Account Type</div>
                            <div class="col-md-3">
                                <select name="AccountType" ng-model="account.AccountType" class="form-control">
                                    <option value="--Select Account Type--" disabled></option>
                                    <option value="Customer">Customer</option>
                                    <option value="Bank">Bank</option>
                                    <option value="Merchant">Merchant</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">LastName</div>
                            <div class="col-md-3">
                                <input ng-model="account.LastName" type="text" name="LastName" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">State</div>
                            <div class="col-md-3">
                                <input ng-model="account.State" type="text" name="State" class="form-control" required maxlength="40">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Place OfBirth</div>
                            <div class="col-md-3">
                                <input ng-model="account.PlaceOfBirth" type="text" name="PlaceOfBirth" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">PostalCode</div>
                            <div class="col-md-3">
                                <input ng-model="account.PostalCode" type="text" name="PostalCode" class="form-control" maxlength="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Date Of Birth</div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input date-picker ng-model="account.DateOfBirth" type="text" name="DateOfBirth" class="form-control" required maxlength="15">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 control-label">Country</div>
                            <div class="col-md-3">
                                <input ng-model="account.Country" type="text" name="Country" class="form-control" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Mother Name</div>
                            <div class="col-md-3">
                                <input ng-model="account.MotherName" type="text" name="MotherName" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">Email</div>
                            <div class="col-md-3">
                                <input ng-model="account.Email" type="text" name="Email" class="form-control" required maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">ID Number</div>
                            <div class="col-md-3">
                                <input ng-model="account.IDNumber" type="text" name="IDNumber" class="form-control" required maxlength="50">
                            </div>
                            <div class="col-md-2 control-label">Phone</div>
                            <div class="col-md-3">
                                <input ng-model="account.Phone" type="text" name="Phone" class="form-control" maxlength="25">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">Address</div>
                            <div class="col-md-3">
                                <input ng-model="account.Address" type="text" name="Address" class="form-control" required maxlength="60">
                            </div>
                            <div class="col-md-2 control-label">RegisterDate</div>
                            <div class="col-md-3">
                                <input ng-model="account.RegisterDate" type="text" name="RegisterDate" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 control-label">City</div>
                            <div class="col-md-3">
                                <input ng-model="account.City" type="text" name="City" class="form-control">
                            </div>
                            <div class="col-md-2 control-label">Last Modified Date</div>
                            <div class="col-md-3">
                                <input ng-model="account.LastModifiedDate" type="text" name="LastModifiedDate" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <h4 style="font-weight: 600">Account Bank</h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Bank ID</td>
                                            <td>Bank Name</td>
                                            <td>Branch</td>
                                            <td>Account Number</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="b in accountBanks">
                                            <td>
                                                <a ng-show="state != 'View'" ng-click="showBankDetail(b, $index)"><i class="fa fa-edit"></i></a>
                                                <a ng-show="state != 'View'" ng-click="removeBank($index)"><i class="fa fa-trash"></i></a>
                                            </td>
                                            <td ng-bind="b.BankID"></td>
                                            <td ng-bind="b.BankName"></td>
                                            <td ng-bind="b.Branch"></td>
                                            <td ng-bind="b.AccountNumber"></td>
                                        </tr> 
                                    </tbody>
                                </table>
                                <div class="text-right" style="margin-top: 10px">
                                    <button ng-show="state != 'View'" ng-click="showBankDetail({}, -1)" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add Bank</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer text-center">
                    <button id="btn-back" ng-click="showList()" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>
                    <button id="btn-save" ng-disabled="form1.$invalid" ng-show="state != 'View'" ng-click="save()" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>

    <div id="account-bank-detail" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="box box-success">
                    <div class="box-header with-border"><h4 class="d-inline-block">Account Bank Detail</h4><span class="close" data-dismiss="modal">&times;</span></div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4 control-label">Bank ID</div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input ng-model="bank.BankID" type="text" name="BankID" class="form-control" />
                                        <div class="input-group-btn">
                                            <button btn-select-bank ng-click="showLookupBank()" type="button" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Bank Name</div>
                                <div class="col-md-6">
                                    <input ng-model="bank.BankName" type="text" name="BankName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Branch</div>
                                <div class="col-md-6">
                                    <input ng-model="bank.Branch" type="text" name="Branch" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Account Number</div>
                                <div class="col-md-6">
                                    <input ng-model="bank.AccountNumber" type="text" name="AccountNumber" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-cancel"></i> Close</button>
                        <button id="btn-save-bank" ng-click="saveBank()" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="select-bank" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="box box-success">
                    <div class="box-header with-border"><h4 class="d-inline-block">Select Bank</h4><span class="close" data-dismiss="modal">&times;</span></div>
                    <div class="box-body">
                        <div id="grid-bank"></div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-cancel"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        (function () { 
            function Accounts() {
                return {
                    AccountID: 0,
                    AccountType: '',
                    FirstName: '',
                    LastName: '',
                    PlaceOfBirth: '',
                    DateOfBirth: '',
                    MotherName: '',
                    IDNumber: '',
                    Address: '',
                    City: '',
                    State: '',
                    PostalCode: '',
                    Country: '',
                    Email: '',
                    Phone: '',
                    Password: 'x',
                    Status: false,
                    RegisterDate: '',
                    LastModifiedDate: ''

                }
            }
            function controller($scope, $http) {
                var scope = $scope;
                var http = $http;

                var gridBank = gridview('grid-bank', {
                    url: "/Bank/Paging",
                    columns: [
                        {
                            text: "", render: function (c) {
                                var tmpl = "<a action='select'><i class='fa fa-check'></i></a>"; 
                                return tmpl;
                            }
                        },
                        { field: 'BankID', text: 'Bank ID', sortable: true },
                        { field: 'BankName', text: 'Bank Name', sortable: true },
                        { field: 'HeadOffice', text: 'Head Office', sortable: true }
                    ],
                    fieldKey: 'BankID',
                    select: function (obj) {
                        scope.bank.BankID = obj.BankID;
                        scope.bank.BankName = obj.BankName;
                        scope.$apply();
                        $("#select-bank").modal("hide");
                    }
                });

                var grid = gridview('grid-accounts', {
                    url: "/Account/Paging",
                    columns: [
                        {
                            text: "", render: function (c) {
                                var tmpl = "<a action='view'><i class='fa fa-search'></i></a>";
                                tmpl += "<a action='edit'><i class='fa fa-edit'></i></a>";
                                tmpl += "<a action='remove'><i class='fa fa-trash'></i></a>";
                                return tmpl;
                            }
                        },
                        { field: 'AccountID', text: 'Account ID', sortable: true },
                        { field: 'AccountType', text: 'Account Type', sortable: true },
                        { field: 'FirstName', text: 'FirstName', sortable: true },
                        { field: 'LastName', text: 'Last Name', sortable: true },
                        { field: 'PlaceOfBirth', text: 'Place Of Birth', sortable: true },
                        { field: 'DateOfBirth', text: 'Date Of Birth', sortable: true },
                        { field: 'Address', text: 'Address', sortable: true },
                        { field: 'City', text: 'City', sortable: true },
                        { field: 'Country', text: 'Country', sortable: true }
                    ],
                    fieldKey: "AccountID",
                    view: view,
                    edit: edit,
                    remove: remove
                });

                function view(acn) {
                    scope.state = 'View';
                    scope.account = acn;
                    getAccountBanks();
                    scope.$apply();
                    $("[ng-model]").attr("disabled", true);
                    $(".input-group-addon").css('background', '#eee'); 
                    scope.showDetail()
                }
                function edit(acn) {
                    scope.state = 'Update';
                    scope.account = acn;
                    getAccountBanks();
                    scope.$apply();
                    $("[ng-model]").not("[name='AccountID'],[name='RegisterDate'],[name='LastModifiedDate']")
                        .attr("disabled", false);
                    $(".input-group-addon").css('background', '#fff');
                    $("[date-picker]").each(function (i, e) {
                        $(e).datepicker("update", scope.account[e.name]);
                    });
                    scope.showDetail()
                }
                function remove(acn) {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Are you sure?',
                        type: 'warning',
                        confirmButtonText: 'YES',
                        confirmButtonColor: 'red',
                        showCancelButton: true,
                        cancelButtonText: 'NO'
                    }).then(function (res) {
                        if (res.value) {
                            http({
                                url: '/Account/Delete',
                                method: 'POST',
                                data: { id: acn.AccountID }
                            }).then(success1)
                                .then(function (res) {
                                    if (res.meta.success) {
                                        Swal.fire("Success", "Delete data success", "success").then(function () { grid.reload() });
                                    } else {
                                        Swal.fire("Error", res.meta.message, "error");
                                    }
                                })
                        }
                    });
                }
                function getAccountBanks() {
                    if (scope.account) {
                        http({
                            url: '/AccountBank/PagingAccountBank',
                            method: 'POST',
                            data: {
                                page: { page: 1, pageSize: 100, criteria: [{ criteria: "AccountID", value: scope.account.AccountID }], order: 'AccountID ASC' }
                            }
                        }).then(success1)
                            .then(function (res) {
                                scope.accountBanks = res.data.Rows;
                                console.log(scope.accountBanks);
                            });
                    }
                }
                function success1(res) { return res.data; }

                scope.state = '';
                var bankIndex = -1;
                scope.addNew = function () {
                    scope.state = 'Insert';
                    scope.account = new Accounts();
                    scope.accountBanks = [];
                    $("[ng-model]").not("[name='AccountID'],[name='RegisterDate'],[name='LastModifiedDate']")
                        .attr("disabled", false); 
                    scope.showDetail()
                }               
                scope.account = new Accounts();
                scope.showList = function () { $("#data-detail").fadeOut(300, function () { $("#data-list").fadeIn(500); }); }
                scope.showDetail = function () {
                    $("#data-list").fadeOut(300, function () { $("#data-detail").fadeIn(500); });
                    $("[ng-model]").siblings("span").remove();
                }
                scope.save = function () {
                    var d = new Date().toJSON();
                    scope.account.RegisterDate = d;
                    scope.account.LastModifiedDate = d;
                    scope.accountBanks.forEach(function (b) {
                        b.AccountID = scope.account.AccountID;
                        b.CreateDate = d;
                        b.ModifiedDate = d;
                    });
                    if (form1.checkValidity()) {
                        http({
                            url: '/Account/' + scope.state,
                            method: 'POST',
                            data: { 'account': scope.account, banks: scope.accountBanks }
                        }).then(function (res) { return res.data })
                            .then(function (res) {
                                if (res.meta.success) {
                                    Swal.fire("Success", "Save data success", "success").then(function () { scope.showList(); grid.reload() });
                                    scope.account = {};
                                    scope.accountBanks = [];
                                    scope.$apply();
                                } else {
                                    Swal.fire("Error", res.meta.message, "error");
                                }
                            });
                    }
                }
                scope.showLookupBank = function () {
                    $("#select-bank").modal({ backdrop: 'static' });
                }
                scope.removeBank = function (i) {
                    scope.accountBanks.splice(i, 1);
                }
                scope.accountBanks = [];
                scope.showBankDetail = function (b, i) {
                    bankIndex = i;
                    scope.bank = angular.copy(b);
                    $("#account-bank-detail").modal({ backdrop: 'static' });
                }
                scope.saveBank = function () {
                    if (scope.bank.BankID != null && scope.bank.BankID > 0 && scope.bank.AccountNumber !== '') {
                        var bank = angular.copy(scope.bank);
                        if (bankIndex == -1) { 
                            scope.accountBanks.push(bank);
                            scope.bank = {};
                            $("#account-bank-detail").modal('hide');
                        } else {
                            scope.accountBanks.splice(bankIndex, 1, bank);
                            scope.bank = {};
                            $("#account-bank-detail").modal('hide');
                        }
                    }
                    
                }


                $("[date-picker]").datepicker({ autoclose: true, format: "yyyy-M-dd" })
                    .on('keypress', function (e) { return false; })
                    .on('changeDate', function (e) { scope.account[e.target.name] = e.target.value; })
            }

            angular.module("fintech-app").controller("ctrl", controller);
            $("[ng-model]").change(function (e) {
                var span = e.target.parentElement.querySelector("span");
                if (span) $(span).remove();
                if (!e.target.checkValidity()) {
                    span = document.createElement("span");
                    span.style.color = 'red';
                    span.textContent = e.target.validationMessage;
                    e.target.parentElement.appendChild(span);
                }
                $("#btn-save").attr("disabled", !form1.checkValidity());
            });

            $('[ng-model="bank.BankID"],[ng-model="bank.BankName"]').focus(function () { $("[btn-select-bank]").focus(); });
            setTimeout(function () { $("[content]").css("opacity", 1); }, 100);
            $("[accounts]").addClass("active"); 
        }())
    </script>
}

